<div class="webform-submissions">
	<h1 class="title-form text-center mb-5">
		Membros</h1>

	<div class="d-flex justify-content-center form-where-find">
		<div class="container">
			
			<form>
				<div class="row g-3 mb-3">
					<div class="col-md-4">
						<select class="form-select address-where-find required" id="addressSelect">
							<option selected class="state-hidden">Bairro/Localidade</option>

							{% set unique_addresses = [] %}
							{% for item in content %}
								{% set address_key = item.endereco.address ~ '-' ~ item.endereco.city %}

								{% if address_key not in unique_addresses %}
									<option class="option-address" value="{{ item.endereco.address }}-{{item.endereco.city}}" data-address="{{item.endereco.address}}">
										{{ item.endereco.address }}
										-
										{{ item.endereco.city }}
									</option>

									{% set unique_addresses = unique_addresses|merge([address_key]) %}
								{% endif %}
							{% endfor %}
						</select>
					</div>

					<div class="col-md-8 congregation d-flex gap-3">
						<select class="form-select congregation-find required" id="congregation">
							<option selected class="cong-hidden">Congregação</option>
						</select>
					<button id="search-button" class="btn btn-primary btn-sm text-center btn-where-find text-white w-50">BUSCAR</button>
					<button id="clear-filter-btn" class="btn btn-danger btn-sm text-center w-50">Limpar Filtro</button>
					<button id="dowload-pdf"  class="btn btn-info btn-sm text-center text-white w-50">Baixar Dados</button>

					</div>
	
				</div>
			</form>

			<div id="initial-content" class="row content-row mt-5 px-0 py-3">
				{% for item in content %}
					<div class="col-md-4 content-column mt-5">
						<div class="title-img d-flex gap-2">

							{% if item.imagem_membro %}
								<p><img class="img-fluid rounded-circle" width="50" height="50" src="{{ item.imagem_membro }}" alt="Imagem do Membro">
								</p>
							{% endif %}
							<h4 class="name-member mt-3">
								<b>{{ item.nome_do_membro }}</b>
							</h4>
						</div>
						<p>Email:
							{{ item.email }}</p>
						<p>Endereço:
							{{ item.endereco.address }}
							-
							{{item.endereco.city}}
						</p>
						<p>CPF:
							{{ item.cpf }}</p>
						<p>Nome do Administrador:
							{{ item.nome_do_administrador }}</p>
						<p>Nome da Congregação:
							{{ item.nome_da_congregacao }}</p>

					</div>
				{% endfor %}
			</div>
			<div id="filter-content" class="row"></div>
		</div>
	</div>
</div>
