{{ attach_library('adtc/slick') }}

{# main -> Itens do menu #}
{% set menu_main = 'main' %}
{% set menu_tree_main = drupal_menu(menu_main) %}
{% set menu_items = menu_tree_main['#items'] %}

<div class="menu-overlay-container">
  <div class="row menu-main">
    <div class="menu-overlay-new">
      <div class="col-md-3 pr-0 d-flex flex-column align-items-center justify-content-center">
        <div class="logo">
          <a href="{{ path('<front>') }}" title="Início">
            <img width="266" style="height: 15%;" src="{{ path('<front>') }}{{ directory }}/assets/images/logo_adtc.png" class="img-responsive" draggable="false" />
          </a>
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="menu-items" style="color: #1f39f2;">
          <ul class="institucional-menu">
            {% for item in menu_items %}
              <li class="item list-unstyled">
                <a href="{{ item.url }}" class="link-menu menu-title" target="_blank">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-top col-top-3 pl-0 search-item">
        {{ drupal_form('Drupal\\search\\Form\\SearchBlockForm') }}
      </div>
    </div>
  </div>
</div>

<div class="row slide-banner-content">
  {% if row._entity.field_banner is not null %}
    <div class="slick-carousel" style="overflow-x:hidden; overflow-y:hidden; position: relative;">
      {% for banner_entity in row._entity.field_banner %}
        {% set estilo_banner = banner_entity.entity.uri.value|image_style('banner_home') %}
        {% set file_path = file_url(estilo_banner) %}
        <div class="banner-item" style="position: relative;">
          <img class="img-fluid banner-home" src="{{ file_path }}" alt="Banner">
          <!-- Removido o bloco .banner-caption e seu conteúdo -->
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
